<h1><%=@user.username%>'s Conversations.</h1>
<br>
<% if @conversations.size == 0 %>
  <h1>You Have no Conversations :( <a href="/conversations/new">Start One Now!!</a></h1>
<% else %>
  <% @conversations.each do |conversation| %>
    <div class="convo-box">
      <%= conversation.name %>
      <%= conversation.messages.last %>
      <%= conversation.updated_at if conversation.updated_at %>
    </div>
  <% end %>
<% end %>
