<br>
<br>

<div class="center-window">
  <h2>Create a New Conversation.</h2>
  <!-- shows flash messages if there are any -->
  <% if flash[:message] %>
    <h3 class="flash"><%= flash[:message] %></h3>
  <% end %>

  <!-- renders form to create a new conversation -->
  <form action="/conversations" method="post">
    <br>
    <!-- creates a checkbox for each friend on current users friends list -->
    <% @friends.each do |friend| %>
      <label for="users[username]"><%=friend.username%></label>
      <input type="checkbox" name="users[username][]" value="<%=friend.username%>">
      <br>
    <% end unless @friends.size == 0 %>
    <!-- creates a text-field to enter the name of a user to add as a friend and to the conversation at the same time -->
    <label for="newfriend[username]">New Friend:</label>
    <input type="text" name="newfriend[username]">
    <h3 id="newfriend">*Warning* Starting a conversation with someone who isn't your friend will make them your friend.</h3>
    <input type="submit" name="Start Conversation">
  </form>
</div>
