<h1><%=@convo.name%></h1>
<br>
<% @messages.each do |message| %>
  <div class="message">
    <%= message.content %>
    <%= message.user.username %>
    <%= message.created_at %>
  </div>
<% end %>

<form class="new-message" action="/message" method="post">
  <input type="text" name="message" placeholder="Send a Message">
  <input type="submit" name="Send">
</form>
