/* @media screen { */
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: #6F2232;
    color: #0B0C10;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    line-height: 18px;
  }

  header {
    z-index: 12;
    margin: auto;
    width: 85%;
    box-shadow: 2px 2px 6px;
    background-image: linear-gradient(45deg, #1A1A2D, white);
    border-style: solid;
    border-color: #C3073F;
    border-width: 1px;
    border-radius: 15px;
    padding-left: 25px;
    padding-top: 15px;
  }

  .wrapper {
    background: #6F2232;
  }

  .messages {
    margin-bottom: 300px;
  }

  .left-window {
    box-shadow: 3px 6px;
    padding: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 80%;
    margin-right: auto;
    background-color: #4E4E50;
    text-align: center;
  }

  .message-content {
    position: absolute;
    width: 78%;
    font-weight: 300;
    text-align: left;
    font-size: 40px;
    float: left;
    /* padding: 10px; */
    line-height: 50px;
  }

  .last-message {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: auto;
    font-weight: 200;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
    padding: 10px;
  }

  .message-user {
    position: relative;
    width: 20%;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: auto;
    font-weight: 400;
    text-align: right;
    font-size: 40px;
    padding: 10px;
  }

  .message-time {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 5%;
    font-weight: 200;
    text-align: right;
    font-size: 25px;
    padding: 10px;
  }

  .message {
    position: relative;
    /* bottom: 20%; */
    border-top: 2px black solid;
    border-bottom: 2px black solid;
  }

  .new-message {
    box-shadow: 0px -4px 6px;
    padding: 1px;
    background: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  #message-header {
    font-size: 40px;
    line-height: 60px;
    width: 100%;
    background: #4E4E50;
    z-index: 10;
    box-shadow: 0px 5px 5px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky + #message-thread {
  padding-top: 102px;
  }

  #message-thread {
    margin-top: 100px;
  }

  #message-bar {
    float: left;
    width: 90%;
    height: 50px;
    font-size: 20px;
    outline: black 2px solid;
  }

  #send {
    float: right;
    width: 9%;
    height: 54px;
    font-size: 20px;
    outline: black 2px solid;
  }

  .right-window {
    box-shadow: 3px 6px;
    padding: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 80%;
    margin-left: auto;
    background-color: white;
    text-align: center;
  }

  .center-window {
    box-shadow: 3px 6px 2px;
    padding: 20px;
    border-radius: 15px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: center;
  }

  .right-pannel {
    text-align: center;
    box-shadow: 0px 4px 5px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
    background: black;
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;
  }

  .left-pannel {
    text-align: center;
    box-shadow: 0px 4px 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    background: white;
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;
  }

  .profile-titles {
    font-size: 20px;
  }

  h1 {
    text-align: center;
    font-weight: 500;
    font-size: 80px;
    line-height: 120px;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    text-align: center;
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  a {
    z-index: 13;
    color: #C3073F;
  }

  .sign-on {
    text-align: right;
    position: absolute;
    right: 10%;
    top: 8%;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    /* background: #eee; */
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
/* } */

/* @media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  } */

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h3.flash {
    color: red;
  }

 .add {
   position: relative;
   float: right;
   font-size: 30px
 }

 .delete {
   padding: 2px;
   border-radius: 15px;
   background-color: black;
   color: red;
   position: relative;
   float: right;
   font-size: 17px
 }
/* } */
