<!-- view page for a user that is friends with current_user -->
<!-- this view page shows users friends but not their conversations -->

<h2><%=@user.username%>'s Profile Page :).</h2>
<div class="left-pannel">
    <a class="profile-titles" href="/users">Friends</a>
    <br>
    <% @friends.each do |friend| %>
      <br>
      <li><a href="/users/<%=friend.id%>"><%=friend.username%></a></li>
    <% end %>
</div>
