<!-- index page acts as a friends list and shows only the users that are friends with current user -->

<h1> <%= @user.username %>'s Friends: </h1>

<!-- shows a special message if current user has not friends :( -->
<% if @friends.size == 0 %>
  <h2>looks like there's no one here right now :(. Add a friend Below!</h2>
<% else %>
  <div class="left-window">
    <br>
    <% @friends.each do |friend| %>
      <li><a class="friends-list" href="/users/<%=friend.id%>"><%=friend.username%></a></li>
      <br>
    <% end %>
  </div>
<% end %>
<br>
<br>

<!-- renders form to add a new friend -->
<div class="right-window">
  <h2>Add a New Friend:</h2>

  <form action="/users/friend" method="post">
    <label for="username">Friends Username:</label>
    <input type="text" name="username">
    <input type="submit" name="Add Friend">
  </form>
</div>
