<h2>Welcome Back!</h2>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <br>
  <input type="text" name="username">
  <br>
  <label for="password">Password:</label>
  <br>
  <input type="password" name="password">
  <input type="submit" name="Log In">
</form>
