<h2>Welcome Back!</h2>
<div class="center-window">
  <% if flash[:message] %>
    <h3 class="flash"><%= flash[:message] %></h3>
  <% end %>


  <form action="/login" method="post">
    <label for="username">Username:</label>
    <br>
    <input type="text" name="username">
    <br>
    <label for="password">Password:</label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <input type="submit" name="Log In" value="Log In">
  </form>
</div>
