<h1>Welcome to Live Chat!</h1>
<div class="left-window">
  <h2>Add all of your friends!</h2>
</div>
<br>
<br>
<div class="right-window">
  <h2>Talk to them with live updates!</h2>
</div>
<br>
<br>
<div class="left-window">
  <h2>Free to create account!</h2>
  <a href="/users/new">Create account here!</a>
</div>
